Flask
Werkzeug
line-bot-sdk
openai
python-dotenv
azure-core
azure-search-documents
google-generativeai
gunicorn
pypdf
azure-identity
azure-ai-formrecognizer
azure-storage-blob
pandas
streamlit
requests
pdfkit
beautifulsoup4